<app-header-client></app-header-client>
<section>
    <br>
<div class="container">
<div class="card">
    <div class="container">
    <div class="row justify-content-between b-b-default">
      <div class="col-4">
        
       <h1 class="pp f-w-500">Personnel Information</h1>
      </div>
      <div class="col-6" style="float: right">
        <button mat-raised-button class="button-demo" (click)="edit()"
        ><i class="fa fa-edit"></i> Edit</button>
       </div>
      </div>
     
      <div class="row">
        <div class="col-sm-6">
          <br>
        <p class="m-b-10 f-w-600">First Name</p>
            <h6 class="text-muted f-w-400">{{profile.nom}}</h6>
        </div>
      <div class="col-sm-6">
        <br>
                <p class="m-b-10 m-l-6 f-w-600">Last Name</p>
         <h6 class="text-muted m-l-6 f-w-400">{{profile.prenom}}</h6>
       </div>
      </div>
      <br> 
      <div class="row">
          <div class="col-sm-6">
          <p class="m-b-10 f-w-600">Email</p>
              <h6 class="text-muted f-w-400">{{profile.email}}</h6>
          </div>
        <div class="col-sm-6">
                  <p class="m-b-10 m-l-6 f-w-600">Phone</p>
           <h6 class="text-muted m-l-6 f-w-400">{{profile.num_Telephone}}</h6>
         </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-6">
          <p class="m-b-10 f-w-600">Address</p>
              <h6 class="text-muted f-w-400">{{profile.adresse}}</h6>
          </div>
        <div class="col-sm-6">
                  <p class="m-b-10 m-l-6 f-w-600">Zip Code</p>
           <h6 class="text-muted m-l-6 f-w-400">{{profile.zipCode}}</h6>
         </div>
        </div>
         
    </div>
</div>
    <br> <br>
</div>
</section>
<app-footer></app-footer>