<app-header></app-header>
       <div id="collapseExample" [ngbCollapse]="false">
              <div class="card">
                <div class="card-body">
                 <h1 style="color:chocolate ;font-size: 34px; font-family: 'Times New Roman', Times, serif;">Products in Cart<span style="margin-left: 62%;color:black ; font-size: 22px;">
                    Total value is: {{allTotal | number }} DT</span>
                    <!--button class="btn btn-outline-success" (click)="acc.toggle('static-2')">CheckOut</button-->
                   </h1>
                    
                    <table class="table table-hover">
                      <thead class="thead-light">
                      <tr>
                        <th>Image</th>
                        <th>Name & Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total For Item</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tr *ngFor="let prod of items$ | async ; let i =index">
                        <td><img src="data:image/png;base64,{{prod.image_prod}}" width="150px;" height="170px;"/></td>
                        <td class="wid">{{prod.reference}}-{{prod.description_prod}}</td>
                        <td>{{prod.prix_prod}}DT</td>
                        <td class="text-center">
                            <div class="quantity_input">
                              <button type="button" (click)="onRemoveQuantity(prod)" class="input_number_decrement">
                                <i class="fa fa-minus"></i>
                              </button>
                              <input type="text"  [ngModel] ="prod.quantityP" (ngModelChange) ="prod.quantityP=$event" class="form-control form-inline" id="count">
                              <button type="button" class="input_number_increment" (click)="onAddQuantity(prod)">
                                <i class="fa fa-plus"></i>
                              </button>
                            </div>
                        </td>
                        <td>{{(prod.prix_prod * prod.quantityP) | number}}DT</td>
                        <td><button  (click)="removeItem(prod)" style="background-color : transparent ; color : #d10024" ><i class="fa fa-trash"></i></button></td>
                      </tr>
                    </table>
                    <br>
                    <mat-card-actions style="float: right;">
                      <button type="submit" class="remov" (click)="CheckOut()">Checkout</button>
                    <button type="submit" class="remove" (click)="removeall()">Clear All</button>
                   
                  </mat-card-actions>
                </div>
              </div>
            </div>

 
 
  <app-footer></app-footer>
