<header> 
            <div id="top-header">
                <div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
					</ul>
					<ul class="header-links pull-right">
						<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
						<li><button class="btnlog" href="#" (click)="openDialog()"><i class="fa fa-user-o"></i>Login</button></li>
					</ul>
				</div>
            </div>
            <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
                <div class="container">
                    <div class="row">
                        <!-- Begin Header Logo Area -->
                        <div class="col-lg-3">
                            <div class="pb-sm-30 pb-xs-30">
                                <a href="index.html">
                                    <img class= "logon" src="./assets/images/Logoo.PNG" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- Header Logo Area End Here -->
                        <!-- Begin Header Middle Right Area -->
                        <div class="col-lg-9">
                            <!-- Begin Header Middle Searchbox Area -->
                            <form action="#" class="hm-searchbox">
                                <select class="nice-select select-search-category">
                                    <option value="0">All</option>                         
                                    <option value="10">Laptops</option>                                                    
                                    <option value="12">Smartphone</option>                           
                                    <option value="13">Cameras</option>                          
                                    <option value="14">headphone</option>                                
                                    <option value="15">Smartphones</option>                           
                                    <option value="16">Laptops</option>
                                </select>
                                <input type="text" placeholder="Enter your search key ...">
                                <button class="search-btn">Search</button>
                            </form>
                            <!-- Header Middle Searchbox Area End Here -->
                            <!-- Begin Header Middle Right Area -->
                            <div class="header-middle-right">
                                <ul class="hm-menu">
                                    <!-- Begin Header Middle Wishlist Area -->
                                    <li class="hm-wishlist">
                                        <a href="wishlist.html">
                                            <span class="cart-item-count wishlist-item-count">0</span>
                                            <i class="fa fa-heart-o"></i>
                                        </a>
                                    </li>
                                    <li class="hm-minicart">
                                        <div class="hm-minicart-trigger">
                                            <span class="item-icon"></span>
                                            <span class="item-text">£80.00
                                                <span class="cart-item-count">2</span>
                                            </span>
                                        </div>
                                    </li>
                                    <!-- Header Mini Cart Area End Here -->
                                </ul>
                            </div>
                            <!-- Header Middle Right Area End Here -->
                        </div>
                        <!-- Header Middle Right Area End Here -->
                    </div>
                </div>
            </div>
			<!-- /MAIN HEADER -->
            <!-- Header Middle Area End Here -->
            <!-- Begin Header Bottom Area -->
            <div class="header-bottom header-sticky stick d-none d-lg-block d-xl-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                           <!-- Begin Header Bottom Menu Area -->
                           <div class="hb-menu">
                               <nav>
                                   <ul>
                                       <li class="dropdown-holder"><a href="index.html">Home</a>
                                           <ul class="hb-dropdown">
                                               <li><a href="index.html">Home One</a></li>
                                               <li><a href="index-2.html">Home Two</a></li>
                                               <li><a href="index-3.html">Home Three</a></li>
                                               <li class="active"><a href="index-4.html">Home Four</a></li>
                                           </ul>
                                       </li>
                                       <li class="megamenu-holder"><a href="shop-left-sidebar.html">Categories</a>
                                           
                                       </li>
                                       <li class="dropdown-holder"><a href="blog-left-sidebar.html">Best Sellers</a>
                                           
                                       </li>
                                       <li></li>
                                       <li><a href="about-us.html">About Us</a></li>
                                       <li><a href="contact.html"> Contact </a></li>
                                       <li><a href="shop-left-sidebar.html">Smartphones</a></li>
                                       <li><a href="shop-left-sidebar.html">Laptops</a></li>
                                   </ul>
                               </nav>
                           </div>
                           <!-- Header Bottom Menu Area End Here -->
                        </div>
                    </div>
                </div>
            </div>
           <!-- Header Bottom Area End Here -->
                <!-- Begin Mobile Menu Area -->
                <div class="mobile-menu-area mobile-menu-area-4 d-lg-none d-xl-none col-12">
                    <div class="container"> 
                        <div class="row">
                            <div class="mobile-menu">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu Area End Here -->
</header>

