.footer-middle{
    padding-top: 10px;
    height: 200px;
    padding-bottom: 15px;
}
.footer-bottom .container{
    padding-top: 10px;
    height: 51px;
    padding-bottom: 5px;
}
.footer{
    background-color: #F5F7F8;
}
.cta-title {
    font-size: 22px;
}
h4, .h4 {
    font-size: 1rem;
}
a{
    font-size: 14px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -35.5px;
    margin-left: -7.5px;
}
.widget-title{
    margin-left: 30px;
}
.widget-list a {
    color:#757575 
}
.widget-about{
    font-size: 14px;
}
.btn-cc{
background-color: #c04f61;
}
.widget-call {
    position: relative;
    font-size: 0.98rem !important;
    padding: 0rem 0rem 0rem 0rem !important;
    border: 0.1rem solid #e1e1e1;
    border-radius: 0.3rem;
    line-height: 1.25;
    max-width: 270px;
}