<div class="modal-content">

<form [formGroup]="form" (ngSubmit)="onSubmit()"> 
    <div class="login-form">                 
    <div class="row" *ngIf ="userDetails;">
        
            <button type="button" class="close text-end" data-dismiss="modal" mat-dialog-close>
            <span  aria-hidden="true">x</span>
            </button>
        
                        <div class="row">        
                        <div class="col">
                        <label>First Name</label>
                        <input matInput type="text" placeholder="First Name" id ="Nom"  value={{userDetails.nom}}>
                       
                        </div>
                        <div class="col">
                        
                            <label>LastName</label>
                            <input matInput type="text" placeholder="Last Name" required id="Prenom" value={{userDetails.prenom}}>
                        </div>
                        </div>

                        <div class="row">
                        <div class="col">
                           
                            <label>Email Address*</label>
                            <input matInput class="mb-0" type="email" placeholder="Email Address"  value={{userDetails.email}} id="Email">
                        
                        </div>
                        <div class="col">
                         
                            <label>Address*</label>
                            <input matInput class="mb-0" type="text" placeholder="Address" value={{userDetails.adresse}} id="Adresse">
                        </div>
                        </div>
                   
                    <div class="row">
                        <div class="col-md-6 col-12 mb-20">
                            <label>Phone</label>
                            <input matInput class="mb-0" type="text" placeholder="Phone" id="Num_Telephone" value={{userDetails.num_Telephone}}>
                        </div>
                        <div class="col-md-6 col-12 mb-20">
                            <label>Zip Code</label>
                            <input class="mb-0" type="text" placeholder="Zip Code" id="ZipCode" value={{userDetails.zipCode}}>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-20">
                            <label>Organization Name</label>
                            <input matInput class="mb-0" type="text" placeholder="Store Name" id="Organization" value={{userDetails.organization}}>
                            
                        </div>
                        
                        <div class="col-md-6 col-12 mb-20">
                        <label class="labli mb-0 pb-0" > Organisation Logo</label>
                        <label class="image-upload-container btn btn-bwm"> 
                            <input #imageInput class="special mt-0 pt-0"
                                   type="file"
                                   accept="image/*"
                                   (change)="processFile(imageInput)" 
                                   id="Image">
                          </label>
                        </div>
                    </div>
                        <br>
                        <br>
                        <div class="demo-button-container text-left">
                            <br>
                            <button mat-raised-button  (click)="onSubmit()" class="demo-button pp">
                              Save
                            </button>
                            <button mat-raised-button class="demo-button">
                               Clear
                              </button>
                          </div>
                        <app-alert></app-alert>
                        
                       
    </div>
    </div>           
</form>
</div>
 