<div mat-dialog-header>
  <div class="row justify-content-between">
    <div class="col-8">
<div mat-dialog-title>Forgot Password</div></div>
<div class="col-4"><button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button></div>
</div>
</div>
<div mat-dialog-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Please enter your email:</mat-label>
            <input
              matInput
              placeholder="Email"
              formControlName="email"
              id="email"
              required
            />
            <mat-icon matSuffix>contact_page</mat-icon>
            <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
            <mat-error *ngIf="hasError('email', 'email')">Email is not valid</mat-error>
          </mat-form-field>
  
          <button
            class="register-button btn-lg btn-block"
            [disabled]="!form.valid"
          >
            Submit
          </button>
        </form>
        <button mat-flat-button class="register-btn" (click)="login()">
            Do you know your password? <strong>Login</strong> 
        </button>
        <br />
        <app-alert></app-alert>
</div>

  

