.navbar-vertical.navbar-expand-xs {
    bottom: 0;
    width: 100%;
    max-width: 26.625rem !important;
    padding: 0;
    top: 240px;
    display: block;
    position: fixed;
    height:80%;
    box-shadow: none;
}
.navbar-vertical .navbar-brand .navbar-brand-img, .navbar-vertical .navbar-brand span {
    transition: all 0.2s ease-in-out;
}
.font-weight-bold {
    font-weight: 600 !important;
}
.text-white {
    color: #fff !important;
}
.navbar .nav-link {
    color: #344767;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 1.175rem;
}
.navbar-vertical.navbar-expand-xs .navbar-collapse {
    display: block;
    overflow: auto;
    height: calc(150vh - 360px);
}
.icon-lg i {
    top: 31%;
    font-size: 2.5rem;
}
.text-sm {
    font-size: 1.375rem !important;
}