.page-wrapper {
    min-height: 100vh;
  }
  
  body {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 12px;
  }
  .mat-error{
      font-size: 12px;
  }
  /* ==========================================================================
     #BACKGROUND
     ========================================================================== */
  
  .bg-gra-02 {
    background: -webkit-gradient(linear, left bottom, right top, from(#D10024), to(#393a3a));
    background: -webkit-linear-gradient(bottom left, #D10024 0%, #393a3a 100%);
    background: -moz-linear-gradient(bottom left, #D10024 0%, #393a3a 100%);
    background: -o-linear-gradient(bottom left, #D10024 0%, #393a3a 100%);
    background: linear-gradient(to top right, #D10024 0%, #393a3a 100%);
  }
  
  /* ==========================================================================
     #SPACING
     ========================================================================== */
  .p-t-100 {
    padding-top: 100px;
  }
  
  .p-t-130 {
    padding-top: 130px;
  }
  
  .p-t-180 {
    padding-top: 180px;
  }
  
  .p-t-20 {
    padding-top: 20px;
  }
  
  .p-t-15 {
    padding-top: 15px;
  }
  
  .p-t-10 {
    padding-top: 10px;
  }
  
  .p-t-30 {
    padding-top: 30px;
  }
  
  .p-b-100 {
    padding-bottom: 100px;
  }
  
  .m-r-45 {
    margin-right: 45px;
  }
  
  /* ==========================================================================
     #WRAPPER
     ========================================================================== */
  .wrapper {
    margin: 0 auto;
  }
  
  .wrapper--w960 {
    max-width: 960px;
  }
  
.wrapper--w780 {
    max-width: 780px;
  }

.wrapper--w680 {
    max-width: 680px;
  }
.card{
    width:550px;
    padding: 55px 55px;
    height:570px
    
}
@media (max-width: 767px) {
    .card {
      padding: 50px 40px;
    }
  }
.imageclass{
    align-items: center;
    margin-left: 140px;
    margin-top: -20px;
}
.login-title {
	font-size: 30px;
	line-height: 23px;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 20px;
}
.login-form {
  background-color: #ffffff;
  padding: 30px;
  height: 490px;
  -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1); 
}
.login-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 15px;
    font-weight: 500;
    text-transform: capitalize;
 }
.login-form .nice-select {
    width: 100%;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 0;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    height: 45px;
    color: #7a7a7a;
    margin-bottom: 15px;
 }
.login-form .nice-select::after {
      width: 6px;
      height: 6px;
      border-width: 1px;
      right: 20px;
      border-color: #7a7a7a; 
    }
.login-form .nice-select .current {
      color: #7a7a7a;
      display: block;
      line-height: 23px;
     }
.login-form .nice-select .list {
      width: 100%;
     }
.login-form input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 0;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 15px; 
}
.login-form input[type="checkbox"] {
      width: auto; 
    }
.login-form .check-box {
    float: left;
    margin-right: 70px;
    margin-top: 25px;
}
.login-form .check-box:last-child {
      margin-right: 0; 
    }
.login-form .check-box input[type="checkbox"] {
      display: none; 
    }
.login-form .check-box input[type="checkbox"] + label {
        position: relative;
        padding-left: 30px;
        line-height: 20px;
        font-size: 14px;
        font-weight: 400;
        color: #363f4d;
    }
.login-form .check-box input[type="checkbox"] + label::before {
          position: absolute;
          left: 0;
          top: 0;
          width: 20px;
          height: 20px;
          display: block;
          border: 2px solid #999999;
          content: "";
          -webkit-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
         }
.login-form .check-box input[type="checkbox"] + label::after {
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          content: "\f00c";
          font-family: Fontawesome;
          font-size: 12px;
          line-height: 20px;
          opacity: 0;
          color: #363f4d;
          width: 20px;
          text-align: center;
          -webkit-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; 
        }
.login-form .check-box input[type="checkbox"]:checked + label::before {
        border: 2px solid #363f4d; 
    }
.login-form .check-box input[type="checkbox"]:checked + label::after {
        opacity: 1; }
.register-button {
            display: block;
            margin-top: 20px;
            border-radius: 0;
            height: 36px;
            border: none;
            line-height: 24px;
            padding: 6px 20px;
            float: left;
            font-weight: 400;
            text-transform: uppercase;
            color: #ffffff;
            background-color: #D10024;
            border-radius: 3px;
            transition: all 0.3s ease-in-out;
        }
.register-button:hover {
            background: #1E1F29;
        }
.dont-do a{
    color:rgb(17, 23, 39);
}
button.close {
    background-color: transparent;
    color:grey;
    float: right;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
}
.form-control input{
    width: 100%;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 0;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    color: #000000;
    margin-bottom: 15px; 
}
.dialg{
    background-color: transparent;
    color:rgb(17, 23, 39);
    font-weight: bold;
}
.mat-error{
    font-size: 12px;
}