<div class="page-wrapper bg-gra-02">
    <div class="wrapper wrapper--w680">
        <br>
<br>

<div class="card">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="login-form">
        <img src="./assets/images/login.png"  class="imageclass"style="width: 100px ; height: 100px">
        <br> <br>
            <h2 class="login-title text-center">Login</h2>
        <div class="row">
            <div class="col-md-12 col-12 mb-20">
                <label>Email Address*</label>
                <input matInput type="email" placeholder="Email Address"  [(ngModel)]="model.email" formControlName="email">
                <mat-error *ngIf="!loginForm.get('email')?.errors?.required && (loginForm.get('email')?.errors?.pattern)">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.required">
                    Email is required
                </mat-error>
            </div>
            <div class="col-12 mb-20">
                <label>Password</label>
                <input class="mb-0" [type]="showPassword ? 'text' : 'password'"
                placeholder="Password"  [(ngModel)]="model.motDePasse"  formControlName="motDePasse"> 
                <i class="far fa-eye fa-1x" id="togglePassword"
                (click)="showPassword = !showPassword"
                [class.hide]="showPassword" 
                style="margin-left: -40px ; cursor: pointer;"></i>
            
                <mat-error *ngIf="loginForm.get('motDePasse')?.invalid && (loginForm.get('motDePasse')?.dirty || loginForm.get('motDePasse')?.touched) && loginForm.get('motDePasse')?.errors?.required">
                    Password is required
                </mat-error>
            </div>
            <br><br>
            <div class="col-md-12">
                <button  [disabled]="!loginForm.valid" class="register-button btn-lg btn-block">Login</button>
            </div>
        </div>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
        <app-alert></app-alert>
    </div>
</form>
</div>
<br><br>
</div>
</div>
