.preloader{
    width: 260px !important;
}
.main-sidebar{
background-color: #e2ecee;
}
.layout-fixed .wrapper .sidebar {
    height: calc(100vh - (3.5rem + 1px));
}
.sidebar {
    height: calc(100% - (3.5rem + 1px));
    overflow-x: hidden;
    overflow-y: initial;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0;
    scrollbar-color: #a9a9a9 transparent;
    scrollbar-width: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.mt-2{
    width: 235px;
    height: 1530px;
    
}
.col-4{
    width: 250px !important;
    max-width: 250px !important;
}
.main-header{
    width: 1075px;
    margin-left: 10px !important;
}
.nav-borders .nav-link.active {
    color: #111822;
    border-bottom-color: #0061f2;
    margin-left: 15px !important;
    font-weight: 600;
    font-size:22px ;
}

.nav-borders .nav-link {
    color: #313336;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: #a9a9a9;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
body {
    background-color: #f9f9fa
}

.padding {
    padding-left: 2.5rem !important ;
    padding-right: 2.5rem !important ;
    padding-top: 1.5rem ;
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
    width: 950px;
    height: 500px;
}
.row m-l-0 m-r-0{
    height: 400px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}
.cc {
    height: 41px;
}
.example-container {
    height: 700px;
    width: 1010px;
    margin-left: 40px;
    overflow: auto;
  }
  
table {
    width: 100%;
  }
th {

    font-size: 16px;
    font-weight: 500;
    background-color: #dddbdb;
}
mat-expansion-panel{
    width: 70%;
    margin-top: 20px;
    margin-left: 40px;
}
mat-panel-title{
width: 380px;
}

.test{
    color: rgb(62, 87, 116);
    font-weight: 700;
    font-size: 16px;
}
.test span {
    color: #111822;
    padding-left: 8px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Copperplate';
    text-transform: capitalize;
    text-decoration: underline;
}

.title{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    width: 70px;
    padding-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;

}
textarea {
    background-color: #ffffff;
    width: 100%;
    outline: none;
    color: #949494;
    border: 1px solid #fff;
    height: 60px; 
  }
.spacing{
color: #949494;
font-weight: 100;
font-size: 16px;
font-family: 'Georgia';
}
.col-sm-8{
width: 600px;
height: 60px;
}
.boutn{
    width : 80px;
    text-align: center;
    background-color: rgb(191, 214, 191);
    margin-left: 35px;
}
.iconcol{
    color: #d10024;
   margin-left : 350px;
}
mat-panel-description{
    text-align: end;
}
