@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
.page-wrapper {
    min-height: 100vh;
  }
.bg-gra-02 {
    background: -webkit-gradient(linear, left bottom, right top, from(#D10024), to(#393a3a));
    background: -webkit-linear-gradient(bottom left, #D10024 0%, #393a3a 100%);
    background: -moz-linear-gradient(bottom left, #D10024 0%, #393a3a 100%);
    background: -o-linear-gradient(bottom left, #D10024 0%, #393a3a 100%);
    background: linear-gradient(to top right, #D10024 0%, #393a3a 100%);
  }

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #fff;
	overflow-x: hidden;
}
.main-div{
    height: 100vh;
    
    margin-left: 300px;
  }
.example-card{
    width : 550px;
    height : 500px
    
}
.mat-card-header {
  display: block;
  flex-direction: row;
  margin-bottom: 20px;
}

.padd{
margin-right: 2px;
}

h3{
  margin-left: 0px !important;
}
.form-group .form-group {
  margin-bottom: 20px; 
}
.form-group label {
  display: block;
  font-size: 15px;
  line-height: 29px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 20px;
}
.form-group input {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  line-height: 50px;
  outline: none;
  border: 1px solid #e0e0e0;
  padding-left: 20px; 
}
.colorbtn{
  background-color: rgb(114, 113, 113);
  color: #fff;
}
.btn-link{
  color: rgb(114, 113, 113); ;
}