<section class="sidebar-mini layout-fixed" style="height: auto;">
    <div class="wrapper">
    <div class="row">
      <div class="col-4">
    <div class="preloader justify-content-center align-items-center">
    <img class="animation__shake" src="assets/img/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div>
    </div>
    <div class="col-8">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    
    <ul class="navbar-nav">
    <li class="nav-item">
    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
    <a routerLink="/accueil" class="nav-link">Home</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
    <a routerLink="/accueil/contact" class="nav-link">Contact</a>
    </li>
    </ul>
    
    <ul class="navbar-nav ml-auto">
    
    <li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
    <i class="fas fa-expand-arrows-alt"></i>
    </a>
    </li>
    <li class="nav-item">
    <a><button class="btn btn-light my-2 my-sm-0" (click)="onLogout()" >Logout</button></a>
    </li>
    </ul>
    </nav>
  </div>
   </div>
    
    <aside class="main-sidebar elevation-4">
    
    <a href="index3.html" class="brand-link">
    <img src="assets/img/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Admin Dashboard</span>
    </a>
    
    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
    
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
    <img src="assets/img/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info" *ngIf="userDetails">
      <a  class="d-block"> {{userDetails.nom}} {{userDetails.prenom}}</a>
     </div>
    <div class="info">
     <a href="#" class="d-block"></a>
    </div>
    </div>
    
    <div class="form-inline">
    <div class="input-group" data-widget="sidebar-search">
    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
    <div class="input-group-append">
    <button class="btn btn-sidebar">
    <i class="fas fa-search fa-fw"></i>
    </button>
    </div>
    </div>
    </div>
    
    <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false">
      
    <li class="nav-item">
      <a routerLink="/dashboard-admin" class="nav-link ">
        <i class="nav-icon fas fa-user-circle"></i>
        <p>
        Sellers
        </p>
        </a>
        </li>
      
        <li class="nav-item">
        <a routerLink="/dashboard-admin/list-clients" class="nav-link">
          <i class= "nav-icon fa fa-users"></i>
        <p>
      Clients
        </p>
        </a>
        </li>

        <li class="nav-item">
          <a routerLink="/dashboard-admin/commision" class="nav-link">
          <i class="nav-icon fa fa-money"></i>
          <p>
          Commissions
          </p>
          </a>
      </li>
      
        <li class="nav-item">
        <a routerLink="/dashboard-admin/list-produits" class="nav-link">
          <i class="nav-icon fas fa-shopping-cart"></i>
    <p>
   Products
    </p>
    </a>
    </li>

    <li class="nav-item" ngbDropdown>
      <a  class="nav-link active" ngbDropdownToggle aria-haspopup="true" id="dropdownBasic1" aria-expanded="false"
        style="color:#6C757D ;font-size:16px"
       role="button"><i class="nav-icon fa fa-shopping-basket"></i><p>Orders</p></a>
      <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a class="dropdown-item" routerLink="/dashboard-admin/Orders" style="font-weight:500 ;">Orders By Clients</a>
        <a class="dropdown-item" routerLink="/dashboard-admin/OrdersBySellers"  style="font-weight:500 ;">Orders By Sellers</a>
        <!--i class="nav-icon fa fa-shopping-basket"></i-->
      </div>
  
  </li>
    
    <li class="nav-item">
      <a routerLink="/dashboard-admin/Messages" class="nav-link">
        <i class="nav-icon fas fa-envelope"></i>
  <p>
 Messages
  </p>
  </a>
  </li>
  
    </ul>
    </nav>
    
    </div>
    
    </aside>
    
    <div class="content-wrapper">
    
    <div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
    <div class="col-sm-6">
      <nav class="nav nav-borders">
        <a class="nav-link active ms-0" target="__blank">Orders Per Clients</a>
       
    </nav>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Orders Per Clients</li>
    </ol>
    </div>
    </div>
    </div>
    </div>
    <section class="content">
    <div class="container-fluid">
<div class="accordion" role="tablist" id="accordionExample">
    <div class="accordion-item" *ngFor="let order of orders ; let i= index" >
      <h2 class="accordion-header"  role="tab" id="headingOne">
        <button class="accordion-button des" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Order Num # {{i+1}}
        </button>
      </h2>
      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionExample" #collapseOne>
        <div class="accordion-body">
            <div class="container">
              <div id ="collapseOneShow" class="text" >
                <div class="row row-cols-2">
                    <div class="col-6 col-md-4 format">Client Name </div>
                    <div class="col-6 col-md-4">{{order.name}} {{order.lastName}}</div>
                </div>
                <div class="row row-cols-2">
                    <div class="col-6 col-md-4 format">Client Country </div>
                    <div class="col-6 col-md-4">{{order.country}}</div>
                </div>
                <div class="row row-cols-2">
                    <div class="col-6 col-md-4 format">Client City </div>
                    <div class="col-6 col-md-4">{{order.street}}</div>
                </div>
                <div class="row row-cols-2">
                    <div class="col-6 col-md-4 format">Client Street Address / Zip Code </div>
                    <div class="col-6 col-md-4">{{order.city}}/ {{order.zip}}</div>
                </div>
                <div class="row row-cols-2">
                    <div class="col-6 col-md-4 format">Client Phone </div>
                    <div class="col-6 col-md-4">{{order.phone}}</div>
                </div>
                <div class="row row-cols-2">
                    <div class="col-6 col-md-4 format">Client Email </div>
                    <div class="col-6 col-md-4">{{order.email}}</div>
                </div>
                <div class="row row-cols-2 ">
                    <div class="col-6 col-md-4 format">Orders</div>
                    <div class="col-6 col-md-4">
                      <table class="table-bordered">
                        <thead style="background-color: #fff;">
                          <tr>
                            <th scope="col">Reference</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Store</th>
                          
                          </tr>
                        </thead>
                           <tbody>
                             <tr *ngFor="let prod of order.produits;">
                               <td style="font-size:14px ;">{{prod.reference}}</td>
                               <td>{{prod.prix}}</td>
                               <td>{{prod.organization}}</td>
                             </tr>
                           </tbody>
                       </table>
                    </div>
                </div>
                <br>
                <div class="row row-cols-2">
                    <div class="col-6 col-md-4 format">Payment Method</div>
                    <div class="col-6 col-md-4">{{order.payment}}</div>
                </div>
                <br> 
                <div class="row row-cols-2">
                  <div class="col-6 col-md-4 format">Date of Order </div>
                  <div class="col-6 col-md-4">{{order.dateCommande}}</div>
              </div>

              <div class="row row-cols-2">
                <div class="col-6 col-md-4 format">Order Status </div>
                <div class="col-6 col-md-4">{{order.delivred}}</div>
            </div>

              </div>
                <input type="button" value="Download PDF" style="float:right" class="btn btn-success" (click)="SavePDF()">
              <br> <br>
              </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
  
</section> 

</div>

</div>

</section>
