.forgetpass{
    text-align: center;
    margin-bottom: 80px;
}
.version-info {
    font-size: 8pt;
    float: right;
    margin: 8px;
  }
  
.register-button {
  display: block;
  margin-top: 20px;
  border-radius: 0;
  height: 36px;
  border: none;
  line-height: 24px;
  padding: 6px 20px;
  float: left;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #D10024;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.register-button:hover {
  background: #1E1F29;
}
.mat-error {
    float: right;
  }
.login-inner-countainer {
    width: 450px;
    height: 340px; 
  
}  
.login-title {
    display: flex;
    justify-content: center;
  }
  
.login-title mat-card-title {
    font-size: 30px;
  }
  
.login-field-container {
    margin-top: 15px;
    width: 100%;
  }
  
.login-field-container mat-form-field {
    width: 100%;
    margin: -4px 0;
  }
  
.login-btn {
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
    letter-spacing: 0.7px;
  }
  
.register-btn {
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
  }
  