<div class="login-outer-countainer">
    <mat-card class="login-inner-countainer">
      <mat-card-header class="login-title">
        <mat-card-title>Forgot Password</mat-card-title>
      </mat-card-header>
      <mat-card-content class="login-field-container">
        <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="submitLoginForm()"
          fxLayout="column wrap">
          <mat-form-field appearance="outline">
            <mat-label>Please enter your email:</mat-label>
            <input
              matInput
              placeholder="Email"
              formControlName="email"
              id="email"
              required
            />
            <mat-icon matSuffix>contact_page</mat-icon>
            <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
            <mat-error *ngIf="hasError('email', 'email')">Email is not valid</mat-error>
          </mat-form-field>
  
          <button
            class="register-button btn-lg btn-block"
            [disabled]="!loginForm.valid"
          >
            Submit
          </button>
        </form>
        <button mat-flat-button class="register-btn" (click)="login()">
            Do you know your password? <strong>Login</strong> 
        </button>
        <br />
      </mat-card-content>
    </mat-card>
  </div>


