 <div class="login-outer-countainer">
    <mat-card class="login-inner-countainer">
        <div class="row">
          <div class="col-8">
              <h4 class="login-title text-left">Forgot Password</h4></div>
          <div class="col-4">
              <button type="button" class="close" data-dismiss="modal" mat-dialog-close>
              <span class="text-end" aria-hidden="true">x</span>
              </button>
          </div>
          </div>
      <mat-card-content class="login-field-container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()"
          fxLayout="column wrap">
          <mat-form-field appearance="outline">
            <mat-label>Please enter your email:</mat-label>
            <input
              matInput
              placeholder="Email"
              formControlName="email"
              id="email"
              required
            />
            <mat-icon matSuffix>contact_page</mat-icon>
            <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
            <mat-error *ngIf="hasError('email', 'email')">Email is not valid</mat-error>
          </mat-form-field>
  
          <button
            class="register-button btn-lg btn-block"
            [disabled]="!form.valid"
          >
            Submit
          </button>
        </form>
        <button mat-flat-button class="register-btn" (click)="login()">
            Do you know your password? <strong>Login</strong> 
        </button>
        <br />
        <app-alert></app-alert>
      </mat-card-content>
    </mat-card>
  </div>

