<div class="page-wrapper bg-gra-02">
    <div class="wrapper wrapper--w680">
        <br>
        <div class="card card-4">
            <div class="card-body">
                <mat-stepper linear #stepper>
             
                <mat-step [stepControl]="registerForm" [editable]="isEditable">

                <form [formGroup]="registerForm">
                    <ng-template style="font-size : 18px ;font-weight: 600 ;" matStepLabel>Seller Informations</ng-template>
                    <div class="login-form">                     
                        <div class="row">
                            <div class="col-md-6 col-12 mb-20">

                                <label>First Name</label>
                                <input matInput type="text" placeholder="First Name" formControlName="Nom">
                                <mat-error *ngIf="registerForm.get('Nom')?.invalid && (registerForm.get('Nom')?.dirty || registerForm.get('Nom')?.touched) && registerForm.get('Nom')?.errors?.required">
                                    FirstName is required
                                </mat-error>
                            </div>
                           <div class="col-md-6 col-12 mb-20">
                                <label>Last Name</label>
                                <input matInput type="text" placeholder="Last Name" required formControlName="Prenom">
                                <mat-error *ngIf="registerForm.get('Prenom')?.invalid && (registerForm.get('Prenom')?.dirty || registerForm.get('Prenom')?.touched) && registerForm.get('Prenom')?.errors?.required">
                                    Last Name is required
                                </mat-error>
                              
                            </div>
                            <div class="col-md-12 col-12 mb-20">
                                <label>Email Address*</label>
                                <input matInput class="mb-0" type="email" placeholder="Email Address" formControlName="email">
            
                                <mat-error *ngIf="!registerForm.get('email')?.errors?.required && (registerForm.get('email')?.errors?.pattern)">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched) && registerForm.get('email')?.errors?.required">
                                    Email is required
                                </mat-error>
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>Address</label>
                                <input matInput class="mb-0" type="text" placeholder="Address" formControlName="Adresse">
                                <mat-error *ngIf="registerForm.get('Adresse')?.invalid && (registerForm.get('Adresse')?.dirty || registerForm.get('Adresse')?.touched) && registerForm.get('Adresse')?.errors?.required">
                                    Address is required
                                </mat-error>
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>Phone</label>
                                <input matInput class="mb-0" type="text" placeholder="Phone" formControlName="Num_Telephone">
                                <mat-error *ngIf="registerForm.get('Num_Telephone')?.invalid && (registerForm.get('Num_Telephone')?.dirty || registerForm.get('Num_Telephone')?.touched) && registerForm.get('Num_Telephone')?.errors?.required">
                                    Phone is required
                                </mat-error>
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>Zip Code</label>
                                <input class="mb-0" type="text" placeholder="Zip Code" formControlName="ZipCode">
                                <mat-error *ngIf="registerForm.get('ZipCode')?.invalid && (registerForm.get('ZipCode')?.dirty || registerForm.get('ZipCode')?.touched) && registerForm.get('ZipCode')?.errors?.required">
                                    Zip Code is required
                                </mat-error>
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>Store Name</label>
                                <input matInput class="mb-0" type="text" placeholder="Organization Name" formControlName="Organization">
                                <mat-error *ngIf="registerForm.get('Organization')?.invalid && (registerForm.get('Organization')?.dirty || registerForm.get('Organization')?.touched) && registerForm.get('Organization')?.errors?.required">
                                    Store Name is required
                                </mat-error>
                            </div>
                 
                            <div class="col-12 mb-20">
                                <label>Password</label>
                                <input matInput class="mb-0" type="password" placeholder="Password" formControlName="MotDePasse"> 
                                <mat-error *ngIf="!registerForm.get('MotDePasse')?.errors?.required && (registerForm.get('MotDePasse')?.errors?.pattern)">
                                    Password length must be greater than or equal to 8 and password must contain one or more uppercase , lowercase , numeric and special characters
                                </mat-error>
                                <mat-error *ngIf="registerForm.get('MotDePasse')?.invalid && (registerForm.get('MotDePasse')?.dirty || registerForm.get('MotDePasse')?.touched) && registerForm.get('MotDePasse')?.errors?.required">
                                    Password is required
                                </mat-error>
                            </div>
                            <br>
                            <br>
                            <div class="col-md-12">
                                <!--button type="submit" data-dismiss="modal" [disabled]="!registerForm.valid" class="register-button btn-lg btn-block">Register</button-->
                                <div>
                                    <br>
                                    <button mat-raised-button [disabled]="!registerForm.valid" style="float:right ; background-color: #65ba7d;"  matStepperNext>Continue <i class="fa fa-arrow-right"></i></button>
                                  </div>
                           
                            </div>
                           
                        </div>
                    </div>
                </form>
                </mat-step>
                <mat-step [stepControl]="BillingForm" [editable]="isEditable">
                    <form [formGroup]="BillingForm">
                
                    <ng-template style="font-size : 18px ;font-weight: 600 ;" matStepLabel>Set up Billing</ng-template>
                    
                    <br> <br> 
                    <h5 class="text-center" style="color: #c9bdbd;"> Let us Know how you'd like to pay your Marketplace bill</h5>
                    <br> <br>
                    <div class="row" style="height: 45px !important;">
                        <div class="col-6 col-md-4"><label style="margin-top: 8px; font-size: 18px;">Card Number :</label> 
                        </div>
                        <div class="col-12 col-sm-6 col-md-8"><input matInput class="input-text" type="text" formControlName="numberCard" placeholder=" Card Number">
                        </div>
                    </div>
                  
                    <br>
                    <div class="row">
                        <div class="col-6 col-md-4"><label style="margin-top: 8px; font-size: 18px;">Expiration Date :</label> 
                        </div>

                        <div class="col-12 col-sm-6 col-md-8"><mat-form-field color="accent" appearance="fill">
                            <mat-label>Select Expiration Date</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="Exprdate">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="height: 45px !important;">
                        <div class="col-6 col-md-4"><label style="margin-top: 8px; font-size: 18px;">Card Name :</label> 
                        </div>
                        <div class="col-12 col-sm-6 col-md-8"><input matInput class="input-text" type="text" formControlName="Namecart" placeholder=" Card Name">
                        </div>
                    </div>
                  
                    <br> <br>
                    <div class="row">
                        <div class="alert alert-warning" role="alert">
                            <i class="fa fa-exclamation-triangle"> We notified you have to pay 10 DT as registration fees to activate 
                            your account  </i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="checkTerme">
                            <label class="form-check-label" for="exampleCheck1">Check here to indicate that you have read and agree to the terms of Our Marketplace Seller Agreement</label>
                          </div>
                    </div>
                    <br>
                    <button mat-raised-button [disabled]="!BillingForm.valid" style="float:right ; background-color: #65ba7d;" (click)="onSubmit()" matStepperNext>Continue <i class="fa fa-arrow-right"></i></button>
                    <app-alert></app-alert>
                </form>
                </mat-step>
                <mat-step [editable]="isEditable">
                    <ng-template matStepLabel>Validation </ng-template>
                    <br> <br>
                    <div class="text-center">
                        <div class="success-marker">
                            <i class="fa fa-check-circle" style="color: green; font-size: 48px;"></i>
                        </div>
                        <br>
                        <div class="success-text">
                            <h2 class="sample-step-title">Please check your email to confirm your registration ! 
                                </h2>
                            <p>In this time, We will check your Bank account .</p>
                            <p>Go to <a routerLink="/login"> Login Page </a></p>
                        </div>
                    </div>
                
                </mat-step>
                

                </mat-stepper>
            </div>
        </div>
        <br>
    </div>
</div>