.products-2-section{
	padding-top: 188px;
}
.popular_categories
{
	padding-top: 288px;
	padding-bottom: 90px;
}
.popular_categories_title
{
	font-size: 30px;
	font-weight: 500;
	color: #000000;
	line-height: 1.2;
}
.popular_categories_slider_nav
{
	margin-top: 27px;
}

.popular_categories_nav
{
	display: inline-block;
	width: 36px;
	height: 36px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	margin-right: 16px;
}
.popular_categories_nav:last-child
{
	margin-right: 0px;
}
.popular_categories_nav i
{
	line-height: 36px;
	color: #e5e5e5;
	font-size: 18px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.popular_categories_nav:hover i
{
	color: #474747;
}
.popular_categories_link
{
	margin-top: 40px;
}
.popular_categories_link a
{
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #0e8ce4;
}
.popular_category
{
	height: 216px;
	padding-left: 40px;
	padding-right: 40px;
}
.popular_categories_slider .owl-item:nth-child(even)
{
	background: #eff6fa;
}
.popular_category_image img
{
	max-height: 100%;
	max-width: 100%;
}
.popular_category_text
{
	margin-top: 20px;
	line-height: 1.714;
	text-align: center;
}

.smart{
	position: relative;
	text-decoration: underline;
	text-decoration-line: 32px;
	text-decoration-color: #ff0000;
	line-height: 25px;
	font-weight: 600;	
	margin-bottom:0px;
	padding-bottom: 0px;
}

.centered{
	
		position: absolute;
		top: 45%;
		left: 40%;
		transform: translate(-50%, -50%);	  
}
.iaa{
	border-radius: 10px;
}
.iaa img:hover{
	transform: scale(1.2);
}
.smarty{
	
	font-weight: bold;
	position: relative;
	color: #ff0000;
	text-shadow:#dddb50 1px 0 10px;	
	
}
.test{
	font-weight: bold;
	font-family:'Cambria'
}
.btn-effect{
	background-color: #ff0000;
	font-size: 14px;
	border-radius: 12px;
}
.produit{
	background-color: #F5F7F8 ;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 8px; 
	margin-top: 0;
	width:260px

}
.card-main{
	position: relative;
	border-radius: 14px;
}
.discount{
	position: absolute;
	background: #fa0;
	font-weight: 700;
	color: white;
	text-align: center;
	display: block;
	text-transform: uppercase;
	height: 30px;
	width: 70px;
	border-radius: 0 15px 15px 0;
	line-height: 30px;
	font-style: italic;
	left: -9px;
	top:30px;
}
.discount::after {
	border-top: 6px solid #c80 ;
	content: '';
	position: absolute;
	bottom: -6px;
	left: 0;
	border-left: 8px solid transparent;
	border-right: 0px solid transparent;
}
.label{
	position: absolute;
	bottom: 84px;
	left: 10px;
	font-style: 10px;
	font-weight: 400;
	text-transform: uppercase;
	z-index:2;
	line-height: 100%;
	color: #fff;
	border-radius: 3px;
	padding: 5px 8px;
}
.label-green{
	background: #5cb85c;
}
.image img{
	width: 100%;
	height: 230px;
	border-radius: 5px 5px 0 0;
}
.cart-line{
	
	height: 2px;
	background: #f1f1f1;
}
.cart-item{
	text-align: center;
	line-height: 45px;
	background: #111;
	position: relative;
	top: 0x;
}
.cart-item ul{
	padding: 0;
	margin: 0;
}
.cart-item ul li{
	display: inline-block;
	list-style-type: none;
	position: relative;
}
.cart-item ul li::after{
	content: '';
	width: 1px;
	height: 18px;
	background: rgba(255,255,255,.15);
	position: absolute;
	left:-2px;
	top:10px;
}
.cart-item ul li:first-child:after{
	display: none;
}
.cart-item ul li a {
	padding: 0px 18px;
	color: #ccc;
}
.cart-item ul li a:hover{
	color: #fa0;
}
.card:hover .cart-item{
	opacity: 1;
	top:0;
}
.product-container{
	position: absolute;
	right: -40px;
	top:10px;
	z-index: 4;
	transition: 0.6s;
}
.p {
	border: 1px solid rgb(233,233,233);
	border-radius: 2px;
	height: 40px;
	width: 40px;
	cursor: pointer;
}
.p img{
	width: 100%;
	height: 100%;
	opacity: 0.8;
}
.card:hover .product-container{
	opacity: 1;
	right: 10px;
}
.content{
	padding: 16px 0;
	text-align: center;
}
.content a {
	font-size: 16px;
	color: #555;
	font-weight: 700;
	text-transform: capitalize;
	transition: all .3s;
}
.content a:hover{
	color: #fa0;
	text-decoration: none;
}
.rating i{
color : #fa0;
line-height: 22px;
margin: 0 2px;
font-size: 12px;
}
.content p{
	margin-bottom: 0;
}
.content .money{
	font-size: 20px;
	color: #fa0;
	font-weight: 700;
	font-style: italic;
	margin-right: 6px;
}
.content .old-price{
	line-height: 18px;
	text-decoration: line-through;
	color: #888;
	font-style: italic;
	font-weight: 400;
}
.produit_slider_nav{
	margin-top: 0;
}
.produit .owl-prev , .produit .owl-next{
	background: rgba(179, 173, 173, 0.781)!important ;
	color: #222!important;
	height: 60px;
	width: 60px;
	border-radius: 50%!important;
} 
.produit .owl-prev i , .produit .owl-next i{
	font-size: 24px;}
.brands
	{
		width: 100%;
		padding-top: 90px;
		padding-bottom: 90px;
	}
.brands_slider_container
	{
		height: 130px;
		border: solid 1px #e8e8e8;
		box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
		padding-left: 97px;
		padding-right: 97px;
	}
.brands_slider
	{
		height: 100%;
	}
.brands_item
	{
		height: 100%;
	}
.brands_item img
	{
		max-width: 100%;
	}
.brands_nav
	{
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		padding: 5px;
		cursor: pointer;
	}
.brands_nav i
	{
		color: #e5e5e5;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
	}
.brands_nav:hover i
	{
		color: #676767;
	}
.brands_prev
	{
		left: 40px;
	}
.brands_next
	{
		right: 40px;
	}

.featured-pro-with-banner {
		background: #cabdbd;
		padding: 50px 0 30px;
		margin-top: 50px;
	}
.group-featured-pro-wrapper{
	width: 400px;
	height: 140.19px;
}
.featured-manufacturer {
		color: #a4a4a4;
		font-size: 13px;
		margin-top: 9px;
		font-weight: 400;
		text-transform: capitalize;
		transition: all 0.3s ease-in-out;
	}
.featured-product-active {
		padding: 15px;
	}
.featured-pro-wrapper {
		display: inline-block;
		width: 50%;
		background: #fff;
		border: 1px solid transparent;
		border-radius: 4px;
		-webkit-transition: all 300ms ease-in;
		-moz-transition: all 300ms ease-in;
		-ms-transition: all 300ms ease-in;
		-o-transition: all 300ms ease-in;
		transition: all 300ms ease-in;
	}
.featured-pro-wrapper:hover {
		box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
	}
.featured-pro-wrapper .product-img {
		float: left;
		padding: 18.2px;
	}
.featured-pro-wrapper .product-img img{
	width: 90px;
	height: 90px;
}
.featured-pro-content {
    width: 70%;
    float: right;
    padding: 15px;
}
.product-review {
    border-bottom: 1px solid #ebebeb;
}

.featured-pro-content h4 a {
		font-size: 14px;
		font-weight: 500;
		color: #0363cd;
	}
.featured-pro-content h4:hover {
		text-decoration: underline;
		color: #0363cd;
	}
.featured-pro-content .rating-box {
		padding-top: 5px;
	}
.featured-pro-wrapper:hover .featured-price-box {
		opacity: 0;
	}
.featured-product-action .add-actions-link {
		margin-top: 0;
		padding-top: 0;
	}
.featured-product-action {
		position: relative;
		top: 20px;
		transition: all 0.5s ease-in-out;
		opacity: 0;
		visibility: hidden;
	}
.featured-pro-wrapper:hover .featured-product-action {
		top: 0;
		opacity: 1;
		visibility: visible;
	}
.featured-price-box {
		transition: all 0.5s ease-in-out;
	}

.product-img {
    width: 30%;
    float: left;
    padding: 15px;
}
.product-img img{
	width: 90px;
	height: 90px;
}
.li-section-title {
	border-bottom: 1px solid #e1e1e1;
	width: 100%;
	display: inline-block;
	position: relative;
}
.li-section-title > h2 {
	float: left;
	font-size: 20px;
	color: #242424;
	font-weight: 500;
	letter-spacing: -.025em;
	padding: 0;
	line-height: 1;
	padding-bottom: 13px;
	z-index: 0;
}

.tabs_line span
{
	position: absolute;
	top: 36px;
	left: 0;
	width: 80px;
	height: 2px;
	background: #0e8ce4;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.slider-list.slider-list-rows {
    overflow: hidden;
}

.universe-rubrics .slider-list-rows {
    max-height: 340px;
}
.slider-list {
    padding: 4px 0;
    display: grid;
    grid-template-columns: repeat(5, 145px);
    grid-template-rows: 150px;
    row-gap: 30px;
    justify-content: space-evenly;
    transition: max-height 0.3s ease-in-out;
    grid-auto-rows: 150px;
}
.catg ul {
    list-style: none;
}
.item {
    background: #ffffff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    overflow: hidden;
}

.flip-box-inner {
	position: relative;
	width: 145px;
	height: 160px;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	border-radius: 5px;

  }

.flip-box {
	background-color: transparent;
	height: 155px;
	width: 145px;
	border: 1px solid #f1f1f1;
}
.product_img{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;

}
.product_img img {
    background: #f2f2f2;
	width: 100%;
	height: 100%;
	padding-right:5px;
	padding-left:5px;
    border-radius: 5px;
}
.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
}
  

.flip-box-front, .flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
  }
  

.flip-box-front {
	background-color: #fff;
	border-radius: 5px;
	color: black;
  }

.flip-box-back {
	background-color: #fff;
	border-radius: 5px;
	color: white;
	transform: rotateY(180deg);
  }
  .item-title:hover {
    text-decoration: underline;
}
.item-title {
    color: #353535;
    font-size: 16px;
    text-align: center;
}
