.page-wrapper {
    min-height: 100vh;
  }
.bg-gra-02 {
    background: -webkit-gradient(linear, left bottom, right top, from(#b4abad), to(#f2f8f8));
    background: -webkit-linear-gradient(bottom left, #b4abad 0%, #f2f8f8 100%);
    background: -moz-linear-gradient(bottom left, #b4abad 0%, #f2f8f8 100%);
    background: -o-linear-gradient(bottom left, #b4abad 0%, #f2f8f8 100%);
    background: linear-gradient(to top right, #b4abad 0%, #f2f8f8 100%);
  }
  .card{
      width: 550px;
      position: relative;
      height: 350px;
      left : 250px;
  }